@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --green: #02897a;
  --blue: #4d8dff;
  --purple: #4d8dff;
  --text-color: #22343d;
  --bg-color: #fff;
  --red: #f03e3d;
}
.dark{
  --text-color: #fff;
  --bg-color: #1f2e35;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.container{
  width: 1180px;
  padding: 0px 15px;
}
ul{
  list-style-type: none;
}
.btn{
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
}
.header__inner {
  padding: 26px 0px;
}
.header__logo {
  width: 178px;
  height: 36px;
}
.header__logo-light{
  display: none;
}
.logo-show{
  display: block;
}
.logo-hide{
  display: none;
}
.header__menu {
  flex-grow: 1;
  justify-content: end;
}
.nav__item {
  margin-right: 20px;
}
.nav__link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 300;
}
.nav__item:first-child .nav__link{
  font-weight: 600;
}
.header__sign:nth-child(1){
  font-weight: 600;
  background-color: var(--bg-color);
  border: 1px solid #BCD0E5;
  color: var(--text-color);
  padding: 10px 22px;
  margin-right: 24px;
}
.header__sign:nth-child(2){
  font-weight: 600;
  background-color: var(--green);
  border: 1px solid  var(--green);
  color: #fff;
  padding: 10px 22px;
  margin-right: 24px;
}
.dark-light {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 32px;
  height: 32px;
}
.hero__inner {
  padding: 50px 0px;
}
.hero__content {
  width: 40%;
}
.hero__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: var(--text-color);
  margin-bottom: 18px;
}
.hero__text {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 45px;
}
.hero__btn {
  padding: 15px 41px;
  border-radius: 4px;
  font-weight: bold;
}
.hero__btn:nth-child(1){
  background-color: var(--green);
  color: #fff;
  margin-right: 30px;
}
.hero__btn:nth-child(2){
  background-color: var(--bg-color);
  color: var(--green);
}
.bx-play {
  font-size: 30px;
}
.hero__img {
  width: 600px;
  height: 555px;
}
.burger{
  display: none;
}

@media screen and (max-width:510px) {
  .container{
    width: 90%;
  }
  .header__menu{
   position: fixed;
   top: 0vh;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: var(--bg-color);
   flex-direction: column;
   justify-content: flex-start;
   z-index: 100;
   overflow: hidden;
   transition: all 0.4s ease;
  }
  .show{
   top: -100vh;
  }
  .nav__item{
    padding: 16px 0px;
  }
  .header__btns{
    margin: 30px 0px;
  }
  .nav__list {
    flex-direction: column;
    padding-top: 50px;
  }
  .burger{
    display: flex;
    width: 28px;
    height: 31px;
    color: var(--text-color);
    border: none;
    background-color: var(--bg-color);
    z-index: 150;
    position: relative;
    right: 5%;
    top: 2%;
  }
  .site-header{
    background-color: var(--bg-color);
  }
  .header__logolink{
    position: relative;
    top: 2%;
    left: 5%;
    z-index: 150;
  }
  .burger .bx{
    font-size: 30px;
  }
  .hero__inner{
    flex-direction: column-reverse;
    padding: 50px 0px;
  }
  .hero__img{
    width: 338px;
    height: 313px;
  }
  .hero__content{
    width: 100%;
    text-align: center;
  }
  .hero__title{
    font-size: 36px;
    line-height: 60px;
  }
  .hero__text{
    font-size: 18px;
    line-height: 28px;
  }
  .hero__btns{
    display: flex;
    justify-content: center;
  }
  .hero__btn{
    padding: 10px 10px;
    margin-right: 0px;
    font-size: 16px;
    line-height: 24px;
  }
  .hero__btn:nth-child(2){
    width: 200px;
  }
}